@model IEnumerable<Client.Models.PostClient>

@{
    ViewData["Title"] = "Posts";
}

<h1>Posts</h1>

<p>
    
    <a asp-action="Create" >Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TopicCategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOfPost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Points)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TopicCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOfPost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { item.Username, item.TimeOfPost, item.TopicCategoryName, item.Points }) |
                @Html.ActionLink("Delete", "Delete", new { item.Username, item.TimeOfPost,item.TopicCategoryName}) |
                @Html.ActionLink("Comments", "Comments","Comment", new { item.TimeOfPost, item.Username})
            </td>
        </tr>
}
    </tbody>
</table>
